html
    head
        style. 
            include stylesheet.css
    title Person
    body 
        include ../partials/header
    div#main
        h1 #{person.name}
        //- div#colab
        //-     h3 Top Collaborators 
        //-     br
        //-     each element in person.topColabs    
        //-         a(href="/person") #{element.name}
        //-         br
        //-     br
        div#moviesDirected
            if (directors.length)
                h3 Movies Directed 
                br
                each element in directors
                    a(href="/movie") #{element.title}
                    br
                br
        div#moviesActed
            if (actors.length)
                h3 Movies Acted
                br
                each element in actors
                    a(href="/movie") #{element.title}
                    br
                br
        div#moviesWritten
            if (writers.length)
                h3 Movies Written 
                br
                each element in writers
                    a(href="/movie") #{element.title}
                    br