html
    head
        style. 
            include stylesheet.css
    title Profile
    body 
        include ../partials/header
    div#main
        h1 Welcome to your profile, #{myProfile.username}
        //- div#notifications
        //-     h3 Notifications
        //-     ul.no-bullets
        //-         each element in myProfile.notifications
        //-             li 
        //-                 input.remNotif(type="button" name="remNotif" value="Remove Notification")
        //-                 p1  #{element.title} 
        //-         br
        div#contributer
            ul.no-bullets 
                if myProfile.contributer 
                    li
                        input.isCont(type="radio" name="isCont" checked = true)
                        p1 User is a contributer
                    li
                        input.isNotCont(type="radio" name="isNotCont" checked = false)
                        p1 User is a not a contributer
                else 
                    li
                        input.isCont(type="radio" name="isCont" checked = false)
                        p1 User is a contributer
                    li
                        input.isNotCont(type="radio" name="isNotCont" checked = true)
                        p1 User is a not a contributer
                li 
                    input.changeCont(type="button" name="changeCont" value="Update Contributer Status")
            br
        div#watchlist
            h3 Watchlist
            ul.no-bullets
                each element in myWatchlist
                    li
                        a(href="/movie?id="+element._id) #{element.title}
            br
        div#followedPeople
            h3 Followed People
            ul.no-bullets
                each element in myProfile.followedPeople
                    li
                        a(href="/person") #{element.name}
            br
        div#followedUsers
            h3 Followed Users
            ul.no-bullets
                each element in myProfile.followedUsers
                    li
                        a(href="/otheruser") #{element.name}