html
    head
        style. 
            include stylesheet.css
    title Profile
    body 
        include ../partials/header
    div#main
        h1 Welcome to your profile, #{myProfile.username}
        //- div#notifications
        //-     h3 Notifications
        //-     ul.no-bullets
        //-         each element in myProfile.notifications
        //-             li 
        //-                 input.remNotif(type="button" name="remNotif" value="Remove Notification")
        //-                 p1  #{element.title} 
        //-         br
        div#contributer
            ul.no-bullets 
                form#contButton(action="/profile", method="post")
                    p Are you a contributor?
                    if myProfile.contributer 
                        select(name="yesNoDD")
                            option(value="Yes") Yes
                            option(value="No") No
                    else 
                        select(name="yesNoDD")
                            option(value="No") No
                            option(value="Yes") Yes
                    
                        input.changeCont(type="submit" name="changeCont" value="Update Contributer Status")
            br
        if(myWatchlist.length)
            div#watchlist
                h3 Watchlist
                ul.no-bullets
                    each element in myWatchlist
                        li
                            a(href="/movie?id="+element._id) #{element.title}
            br
        if(myFollowedPeople.length)
            div#followedPeople
                h3 Followed People
                ul.no-bullets
                    each element in myFollowedPeople
                        li
                            a(href="/person?id="+element._id) #{element.name}
            br
        if(myFollowedUsers.length)
            div#followedUsers
                h3 Followed Users
                ul.no-bullets
                    each element in myFollowedUsers
                        li
                            a(href="/user?username="+element.username) #{element.username}
        if(reviews.length)
            div#review
                h3 Reviews
                ul.no-bullets
                    each element in reviews
                        li
                            a(href="/review?id="+element._id) #{element.rating}/10

        if(myRecommendations.length)
            div#recommendedList
                h3 Recommended Movies (Based on people you follow)
                    ul.no-bullets
                        each movie in myRecommendations 
                            li 
                                a(href="/movie?id="+movie._id) #{movie.title}

        
