html
    head
        style. 
            include stylesheet.css
    title Search
    body 
        include ../partials/header
    div#main
        h1 Search Page		
    form#searchButton(action="/search", method="post")
        div#searchPageTitle
            h3.searchTitle Search
        div#search
            p.label Title:      
                input.title(type="text" placeholder="Title" name= "title")
            
            p.label Genre:         
                input.genre(type="text" placeholder="Genre" name="genre")
            
            p.label Actor Name: 
                input.actorName(type="text" placeholder="Actor Name" name="actorName") 
        
        
            input.enterSearch(type="submit" name="Search" placeholder="Search" value="Search")

    div#movieResults
        h1.resultsHeader Results (#{searchResults.length} results):
        h3.pageNum Page #{counterNum}
        ol
            each movie in searchResults
                li.movieLI 
                    a(href="/movie?id="+movie._id) #{movie.title} (#{movie.genre}) (#{movie.runtime})
                    br
        div#prevnextButtons
            form#prevButton(action="/search/prev", method="post")
                input.prevButton(type="submit" name="prev" placeholder="prev" value="prev")
                form#nextButton(action="/search/next", method="post")
                    input.nextButton(type="submit" name="next" placeholder="next" value="next")
            


