html
    head
        style. 
            include stylesheet.css
    title Search
    body 
        include ../partials/header
    div#main
        h1 Search Page	
    form#searchButton(action="/search", method="post")
        div#searchPageTitle
            h3.searchTitle Search
        div#search
            p.label Title:      
                input.title(type="text" placeholder="Title" name= "title")
            
            p.label Genre:         
                input.genre(type="text" placeholder="Genre" name="genre")
            
            p.label Actor Name: 
                input.actorName(type="text" placeholder="Actor Name" name="actorName") 
        
        
            input.enterSearch(type="submit" name="Search" placeholder="Search" value="Search")

    div#movieResults
        h1.resultsHeader Results (#{searchResults.length} results listing):
        ol
            each movie in searchResults
                li.movieLI 
                    a(href="/movie?id="+movie._id) #{movie.title} (#{movie.genre}) (Runtime: #{movie.runtime})
                    br
        h3.label Page #{(counter/10)+1}
        form#prevnextButtons(action="/search/prev", method="post")
            input.nextButton(type="submit" name="prevButton" placeholder="prevButton" value="prev")
        form#prevnextButtons(action="/search/next", method="post")
            input.nextButton(type="submit" name="nextButton" placeholder="nextButton" value="next")
        

 
            


