html
    head
        style. 
            include stylesheet.css
    
    title #{userProfile.username}'s profile
    body 
        include ../partials/header
    div#main
        h1 #{userProfile.username}'s Profile
        form#watchlist(action="/user?username="+userProfile.username method="post")
            if (typeof(following)) == "undefined"
            else if following
                input.submit(type="submit" name="unfollow" value="Unfollow User")
            else if !following
                input.submit(type="submit" name="follow" value="Follow User")
        br
        if(userWatchlist.length)
            div#watchlist
                h3 Watchlist
                ul.no-bullets
                    each element in userWatchlist
                        li
                            a(href="/movie?id="+element._id) #{element.title}
                br
        if(userFollowedPeople.length)
            div#followedPeople
                h3 Followed People
                ul.no-bullets
                    each element in userFollowedPeople
                        li
                            a(href="/person?id="+element._id) #{element.name}
                br
        if(userFollowedUsers.length)
            div#followedUsers
                h3 Followed Users
                ul.no-bullets
                    each element in userFollowedUsers
                        li
                            a(href="/otheruser?username="+element.username) #{element.username}